APP_NAME=Housing AI API
APP_VERSION=1.0.0
DATABASE_SERVER=localhost
DATABASE_NAME=HousingAI
DATABASE_DRIVER=ODBC Driver 18 for SQL Server
DATABASE_TRUSTED_CONNECTION=yes
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
